# Ignore specific directories
Cityscapes/Cityspaces
GTA5/images
GTA5/labels
wandb/
checkpoints/*
results/*
**/__pycache__/

# Ignore specific file types
*.pth
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.svg
# Ignore environment files
.env
